<div class="container-fluid px-4">
  <div class="row">
    <!-- LEFT SIDEBAR FILTERS -->
    <aside class="col-lg-3 mb-4 filter-sidebar sticky-sidebar">
  <div class="sticky-content">
    <h5 class="fw-bold d-flex justify-content-between align-items-center">
      Filter
      <%= link_to "Clear All", products_path, class: "btn-clear" %>
    </h5>

  <div class="active-filters mb-3">
  <% if params[:category_type].present? %>
    <span class="filter-tag">
      <%= params[:category_type].titleize %>
      <%= link_to remove_filter_path(:category_type), class: "remove-filter" do %>
        &times;
      <% end %>
    </span>
  <% end %>

  <% if params[:product_style].present? %>
    <span class="filter-tag">
      <%= params[:product_style] %>
      <%= link_to remove_filter_path(:product_style), class: "remove-filter" do %>
        &times;
      <% end %>
    </span>
  <% end %>

  <% if params[:sport_ids].present? %>
    <% Array(params[:sport_ids]).each do |sport_id| %>
      <% sport = Sport.find(sport_id) %>
      <span class="filter-tag">
        <%= sport.name %>
        <%= link_to remove_filter_path(:sport_ids, sport_id), class: "remove-filter" do %>
          &times;
        <% end %>
      </span>
    <% end %>
  <% end %>

  <% if params[:material_ids].present? %>
    <% Array(params[:material_ids]).each do |material_id| %>
      <% material = Material.find(material_id) %>
      <span class="filter-tag">
        <%= material.name %>
        <%= link_to remove_filter_path(:material_ids, material_id), class: "remove-filter" do %>
          &times;
        <% end %>
      </span>
    <% end %>
  <% end %>

  <% if params[:min_price].present? %>
    <span class="filter-tag">
      Min: $<%= params[:min_price] %>
      <%= link_to remove_filter_path(:min_price), class: "remove-filter" do %>
        &times;
      <% end %>
    </span>
  <% end %>

  <% if params[:max_price].present? %>
    <span class="filter-tag">
      Max: $<%= params[:max_price] %>
      <%= link_to remove_filter_path(:max_price), class: "remove-filter" do %>
        &times;
      <% end %>
    </span>
  <% end %>
</div>

  <%= form_with url: products_path, method: :get, local: true, data: { controller: "filter" } do |f| %>

<div class="d-flex justify-content-between align-items-center mb-3">
    <p class="mb-0">Sort by</p>
    <%= f.select :sort,
    options_for_select([
      ['Default', ''],
      ['Price: Low-High', 'price_asc'],
      ['Price: High-Low', 'price_desc'],
      ['Name: A-Z', 'name_asc'],
      ['Name: Z-A', 'name_desc']
    ], params[:sort]),
    {},
    {
      id: 'sort-select',
      class: 'form-select sort-select',
      style: 'min-width: 150px; max-width: 250px'
    } %>
  </div>
<!-- Material Filter -->
<div class="filter-group mb-3 my-4">
  <a data-bs-toggle="collapse" href="#collapseMaterials" class="text-decoration-none d-flex align-items-center"
     data-section="materials">
    Material <span class="ms-auto arrow">&#9654;</span>
  </a>
  <div class="collapse <%= 'show' if params[:open_sections]&.include?('materials') %>" id="collapseMaterials">
    <% @materials.each do |material| %>
      <div class="form-check">
        <%= check_box_tag "material_ids[]", material.id, Array(params[:material_ids]).include?(material.id.to_s), id: "material_#{material.id}", class: "filter-checkbox" %>
        <%= label_tag "material_#{material.id}", material.name %>
      </div>
    <% end %>
  </div>
</div>

    <!-- Sport Filter -->
    <div class="filter-group mb-3">
  <a data-bs-toggle="collapse" href="#collapseSports" class="text-decoration-none d-flex align-items-center"
     data-section="sports">
    Sport <span class="ms-auto arrow">&#9654;</span>
  </a>
  <div class="collapse <%= 'show' if params[:open_sections]&.include?('sports') %>" id="collapseSports">
    <% @sports.each do |sport| %>
      <div class="form-check">
        <%= check_box_tag "sport_ids[]", sport.id, Array(params[:sport_ids]).include?(sport.id.to_s), id: "sport_#{sport.id}", class: "filter-checkbox" %>
        <%= label_tag "sport_#{sport.id}", sport.name %>
      </div>
    <% end %>
  </div>
</div>

<!-- Price Range Filter -->
<div class="filter-group mb-3">
  <a data-bs-toggle="collapse" href="#collapsePriceRange" class="text-decoration-none d-flex align-items-center"
     data-section="price">
    Price Range <span class="ms-auto arrow">&#9654;</span>
  </a>
  <div class="collapse <%= 'show' if params[:open_sections]&.include?('price') %>" id="collapsePriceRange">
    <div class="d-flex my-3">
      <%= f.number_field :min_price,
          value: params[:min_price],
          placeholder: "Min",
          class: "form-control me-2 price-input",
          id: "min-price-input" %>
      <%= f.number_field :max_price,
          value: params[:max_price],
          placeholder: "Max",
          class: "form-control price-input",
          id: "max-price-input" %>
    </div>
  </div>
</div>
  <% end %>
  </div>
</aside>



    <!-- PRODUCT GRID -->
    <section class="col-lg-9">
      <div class="d-flex justify-content-between align-items-center my-3">
        <p class="mb-0">Showing <%= @products.size %> of <%= @products.size %> results</p>
      </div>

      <div class="cards-grid">
        <% @products.each do |product| %>
          <%= link_to product_path(product), class: "text-decoration-none text-dark" do %>
            <div class="card-trip">
              <div class="image-wrapper">
                <img src="<%= product.image_url %>" alt="<%= product.name %>">
              </div>
              <div class="card-trip-infos">
                <h2><%= product.name %></h2>
                <p>Unit price from $<%= product.price %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </section>
  </div>
</div>
