<h1><%= @product.name %></h1>
<div  class="d-flex">
<div class="col-12 col-lg-8">
  <div class="card-trip-show shadow">
    <img src="<%= @product.image_url %>" alt="<%= @product.name %>" class="w-100" style="height: 500px; object-fit: cover;" />
    <div class="card-trip-infos d-flex justify-content-between align-items-center p-3">
      <div>
        <h2><%= @product.name %></h2>
        <p><%= @product.description %></p>
      </div>
      <h2 class="card-trip-pricing">$<%= @product.price %></h2>
    </div>
  </div>
</div>
<div class="card-trip-show shadow p-4 mb-4">
  <%= render "orders_form", product: @product, order: @order %>
</div>
</div>



<h1>Design your award with TrophyMaker</h1>
<div class="col-12 col-lg-8">
  <div class="card-trip shadow">
    <img src="<%= @product.cloudinary_template_url %>" alt="<%= @product.name %>" class="w-100" style="height: 500px; object-fit: cover;" />
    <div class="card-trip-infos d-flex justify-content-between align-items-center p-3">
      <div>
        <p>Click and drag to move your elements around the trophype
            Engraving area is within the red border</p>
      </div>
    </div>
  </div>
</div>
